@model Country
@{
    ViewData["Title"] = "Create";
}

<h1>Add a Country</h1>

<form asp-action="Create" asp-controller="CountryDB" method="post">
    <label asp-for="CountryName"></label>
    <input asp-for="CountryName" />
    <input type="submit" value="Create" />
</form>
