
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<h2>
    @if (ViewBag.Message != null)
    {
        @ViewBag.Message
    }
</h2>

<div>
    <p>Niklas Bergh&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</p>
</div>
<div>
    <p>&nbsp;</p>
</div>
<div>
    <p>Kontaktinformation&nbsp;</p>
</div>
<div>
    <p>F&ouml;delsedatum:&nbsp;70-06-30&nbsp;</p>
</div>
<div>
    <p>Adress:&nbsp;Brottk&auml;rr&nbsp;Stenkulla&nbsp;8,&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</p>
</div>
<div>
    <p>436 58, Hov&aring;s&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;Mobil:&nbsp;0702 985046&nbsp;</p>
</div>
<div>
    <p>LinkedIn:&nbsp;<a href="http://www.linkedin.com/" rel="noreferrer noopener" target="_blank">www.linkedin.com/nollis</a>&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;E-mail:&nbsp; &nbsp;&nbsp;nollis@icloud.com&nbsp;&nbsp;</p>
</div>
<div>
    <p>GitHub:&nbsp;https://github.com/Nollis&nbsp;</p>
</div>
<div>
    <p>&nbsp;</p>
</div>
<div>
    <p>IT-KUNSKAPER&nbsp;&nbsp;</p>
</div>
<div>
    <p>Mjukvara:&nbsp;</p>
</div>
<div>
    <p>Programspr&aring;k:&nbsp; &nbsp;&nbsp;C#,&nbsp;Python&nbsp;</p>
</div>
<div>
    <p>Operativsystem:&nbsp; &nbsp;&nbsp;Windows, Apple,&nbsp;iOS&nbsp;</p>
</div>
<div>
    <p>IT-verktyg:&nbsp; &nbsp;&nbsp;Visual&nbsp;Studio, Atom, Sublime&nbsp;</p>
</div>
<div>
    <p>N&auml;tverk:&nbsp; &nbsp;&nbsp;Microsoft&nbsp;</p>
</div>
<div>
    <p>Webb:&nbsp; &nbsp;&nbsp;HTML, CSS, JavaScript,&nbsp;php&nbsp;</p>
</div>
<div>
    <p>&nbsp;</p>
</div>
<div>
    <p>H&aring;rdvara:&nbsp;</p>
</div>
<div>
    <p>Laptop/Desktop:&nbsp; &nbsp;&nbsp;Mycket goda kunskaper i: Installation/Fels&ouml;kning/Underh&aring;ll/Montering&nbsp;</p>
</div>
<div>
    <p>N&auml;tverk/Server:&nbsp; &nbsp;&nbsp;Medelgoda kunskaper.&nbsp;</p>
</div>
<div>
    <p>UTBILDNING&nbsp;</p>
</div>
<div>
    <p>2022 -&nbsp;&nbsp; &nbsp;&nbsp;P&aring;g&aring;ende&nbsp; &nbsp;&nbsp;C# -&nbsp;Lexicon&nbsp;Yrkesutbildning i V&auml;st&nbsp;</p>
</div>
<div>
    <p>&nbsp;</p>
</div>
<div>
    <p>1997 - 1999&nbsp; &nbsp;&nbsp;Multimedia&nbsp;&nbsp; &nbsp;&nbsp;HyperIsland&nbsp;</p>
</div>
<div>
    <p>Utbildning inom nya medier s&aring;som webb, 3D, animering, interaktivitet och programmering.&nbsp;</p>
</div>
<div>
    <p>&nbsp;</p>
</div>
<div>
    <p>1993 - 1997&nbsp; &nbsp;&nbsp;Grafisk Design&nbsp; &nbsp;&nbsp;University&nbsp;of&nbsp;Kansas&nbsp;</p>
</div>
<div>
    <p>Utbildning i grafisk formgivning, Illustration, Fotografering och tryck.&nbsp;</p>
</div>
<div>
    <p>&nbsp;</p>
</div>
<div>
    <p>1991 - 1991&nbsp; &nbsp;&nbsp;Spanska&nbsp; &nbsp;&nbsp;Colegio&nbsp;de&nbsp;Espana&nbsp;</p>
</div>
<div>
    <p>Studier i det spanska spr&aring;ket.&nbsp;</p>
</div>
<div>
    <p>&nbsp;</p>
</div>
<div>
    <p>1986 - 1990&nbsp; &nbsp;&nbsp;Automatisering&nbsp; &nbsp;&nbsp;Polhem&nbsp;</p>
</div>
<div>
    <p>Gymnasieutbildning med inriktning mot elektronik och automatisering.&nbsp;</p>
</div>
<div>
    <p>&nbsp;</p>
</div>
<div>
    <p>&nbsp;&nbsp;</p>
</div>
<div>
    <p>ARBETSLIVSERFARENHET&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</p>
</div>
<div>
    <p>2021- 2022&nbsp; &nbsp;&nbsp;Learning &amp;&nbsp;Development&nbsp;Specialist&nbsp; &nbsp;&nbsp;BICO&nbsp;</p>
</div>
<div>
    <p>Webb, Illustration och 3D modellering.&nbsp;</p>
</div>
<div>
    <p>Kunder: BICO&nbsp;</p>
</div>
<div>
    <p>&nbsp;</p>
</div>
<div>
    <p>2018 - 2021&nbsp; &nbsp;&nbsp;Teknisk Illustrat&ouml;r&nbsp; &nbsp;&nbsp;Semcon&nbsp;</p>
</div>
<div>
    <p>Illustration och 3D modellering.&nbsp;</p>
</div>
<div>
    <p>Kunder: Volvo,&nbsp;Polestar, ESAB&nbsp;</p>
</div>
<div>
    <p>&nbsp;</p>
</div>
<div>
    <p>2016 - 2018&nbsp; &nbsp;&nbsp;Teknisk Illustrat&ouml;r&nbsp; &nbsp;&nbsp;Frilans&nbsp;</p>
</div>
<div>
    <p>Illustration och 3D modellering f&ouml;r patentans&ouml;kningar.&nbsp;</p>
</div>
<div>
    <p>Kunder: IKEA, Volvo, Fingerprint&nbsp;&nbsp;</p>
</div>
<div>
    <p>&nbsp;</p>
</div>
<div>
    <p>&nbsp;</p>
</div>
<div>
    <p>2006 - 2015&nbsp; &nbsp;&nbsp;Grafisk Designer&nbsp; &nbsp;&nbsp;Dicentia&nbsp;</p>
</div>
<div>
    <p>Grafik, animering och programmering av DVD/BD filmer.&nbsp;</p>
</div>
<div>
    <p>Design och produktion av hemsidor, banners och&nbsp;TV-reklam.&nbsp;</p>
</div>
<div>
    <p>Kunder: Disney, SF, Nordisk Film&nbsp;</p>
</div>
<div>
    <p>&nbsp;</p>
</div>
<div>
    <p>2001 - 2006&nbsp; &nbsp;&nbsp;IT-Konsult&nbsp; &nbsp;&nbsp;Kentor&nbsp;</p>
</div>
<div>
    <p>Kodning&nbsp;frontend&nbsp;och&nbsp;backend. Bildhantering och webbdesign.&nbsp;</p>
</div>
<div>
    <p>Kunder: V&auml;sttrafik, Fritidsresor,&nbsp;Comhem, V&auml;gverket.&nbsp;</p>
</div>
<div>
    <p>SPR&Aring;K&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</p>
</div>
<div>
    <div>
        <p>Svenska&nbsp; &nbsp;&nbsp;Modersm&aring;l&nbsp;</p>
    </div>
    <div>
        <p>Engelska&nbsp; &nbsp;&nbsp;Mycket goda kunskaper i tal och skrift&nbsp;</p>
    </div>
    <div>
        <p>Spanska&nbsp; &nbsp;&nbsp;Goda kunskaper i tal&nbsp;</p>
    </div>
    <div>
        <p>&Ouml;VRIGA MERITER&nbsp;&nbsp;</p>
    </div>
    <div>
        <ul>
            <li>
                <p>K&ouml;rkort B&nbsp;</p>
            </li>
        </ul>
    </div>
</div>
<div>
    <div>
        <p>PERSONLIGA EGENSKAPER&nbsp;&nbsp;</p>
    </div>
    <div>
        <ul>
            <li>
                <p>Noggrann, Social, Id&eacute;rik, Visuell&nbsp;</p>
            </li>
        </ul>
    </div>
    <div>
        <p>REFERENSER&nbsp;</p>
    </div>
    <div>
        <p>L&auml;mnas g&auml;rna vid f&ouml;rfr&aring;gan.&nbsp;</p>
    </div>
</div>