
@{
    ViewData["Title"] = "Contact";
}

<h1>
    @if (ViewBag.Message != null)
    {
            @ViewBag.Message
    }
    </h1>

<table border="1" cellpadding="5px">
<tr>
<th>Person</th>
<th>Phone</th>
<th>Email</th>
<th>Address</th>  
</tr>
<tr>
<td>Alex</td>
<td>3458295019</td>
<td>alexm@gmail.com</td>
<td>76458</td>
</tr>
<tr>
<td>Lisa</td>
<td>7340061465</td>
<td>lisag@gmail.com</td>
<td>84509</td>
</tr>
<tr>
<td>Amie</td>
<td>65493408512</td>
<td>amiey@gmail.com</td>
<td>15605</td>
</tr>
<tr>
<td>Arnold</td>
<td>4600912474</td>
<td>arnh@gmail.com</td>
<td>08542</td>
</tr>
<tr>
<td>Arther</td>
<td>0576237421</td>
<td>arthg@gmail.com</td>
<td>87645</td>
</tr>
</table>