
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h2>List of projects on github</h2>

<a href="https://github.com/Nollis/Sokoban">Sokoban</a><br />
<p>A javascript game</p>
<hr />
<a href="https://github.com/Nollis/Frontend">Frontend</a><br />
<p>HTML and CSS layout example</p>
<hr />
<a href="https://github.com/Nollis/VendingMachine">Vending Machine</a><br />
<p>C# Vending machine in console, with testing implemented</p>
<hr />
<a href="https://github.com/Nollis/Testing_Calculator">Calculator</a><br />
<p>Simple C# console calculator</p>
<hr />
<a href="https://github.com/Nollis/HangMan">Hangman</a><br />
<p>Simple C# console game</p>
<hr />