<label>Id for details:</label>
<input type="text" id="id" name="id" />
<button onclick="GetDetails()" id="details" type="submit">Details</button>
<button onclick="DeletePerson()" id="delete" type="submit">Delete</button>

<div id="div-partial"></div>
<div id="div-callout"></div>

<script>
    function GetDetails() {
    var inputId = $("#id").val();
    $.ajax({
        type: "POST",
        url: "Ajax/GetDetails?id=" + inputId,
        success: function(response) {
            $("#div-partial").html(response);
        }
    });
}
</script>