
@{
    ViewData["Title"] = "NumbGuess";
}

<h1>Number Guess</h1>

<form asp-action="NumbGuess" method="post">
    <label>Please guess a number (1-100):</label>
    <input type="number" name="input"/>
    <input type="submit" value="Guess" />
</form>

@if (ViewBag.Result != null)
{
    <p>@ViewBag.Result</p>
}