
@{
    ViewData["Title"] = "CheckTemp";
}

<h1>Check temperature</h1>

<form asp-action="CheckTemp" method="post">
    <label>Please enter your temperature:</label>
    <input type="number" name="input"/>
    <input type="submit" value="Check Temp." />
</form>

@if(ViewBag.Result != null) {
    <p>@ViewBag.Result</p>
}