@model Person
@{
    ViewData["Title"] = "Create";
}

<h1>Add a Person</h1>

<form asp-action="Create" asp-controller="PeopleDB" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <label asp-for="Phone"></label>
    <input asp-for="Phone" />
    <input type="submit" value="Create" />
</form>
