@model List<Person>
@{
    ViewData["Title"] = "Index";
}

<h1>List of people</h1>

<div><a asp-action="Create" class="btn btn-primary">Create a new person</a></div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Phone</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var person in Model) 
        {
            <tr>
                <td>@person.PersonId</td>
                <td>@person.Name</td>
                <td>@person.Phone</td>
                <td>@person.City</td>
                <td><a asp-action="Delete" asp-route-personid=@person.PersonId class="btn btn-danger">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
