@model PeopleViewModel

@foreach (var person in Model.tempList)
{
        <div class="row">
            <div class="col">@person.PersonId</div>
            <div class="col">@person.Name</div>
            <div class="col">@person.Phone</div>
                <div class="col">@person.City</div>
            <div class="col"><a asp-action="Delete" asp-controller="People" asp-route-id=@person.PersonId>Delete</a></div>
        </div>
}