<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/bootstrap.min.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container-xl">
    <header>
    <div class="logotype">
            <h1>Niklas Bergh</h1>
    </div>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item"><a class="nav-link text-dark"  asp-controller="Home" asp-action="Index">Index</a></li>
            @*<li class="nav-item"><a class="nav-link text-dark"  asp-controller="Home" asp-action="About">About</a></li>
            <li class="nav-item"><a class="nav-link text-dark"  asp-controller="Home" asp-action="Contact">Contact</a></li>*@
            <li class="nav-item"><a class="nav-link text-dark"  asp-controller="Check" asp-action="CheckTemp">Check Temperature</a></li>
            <li class="nav-item"><a class="nav-link text-dark"  asp-controller="Guess" asp-action="NumbGuess">Guess Number</a></li>
            <li class="nav-item"><a class="nav-link text-dark"  asp-controller="Check" asp-action="SetSession">Set Session</a></li>
                    @if (Context.Session.GetString("Session") != null)
                    {
                            <li class="nav-item"><a class="nav-link text-dark"  asp-controller="Check" asp-action="GetSession">Get Session</a></li>
                    }
            <li class="nav-item"><a class="nav-link text-dark"  asp-controller="People" asp-action="Index">People</a></li>
            <li class="nav-item"><a class="nav-link text-dark"  asp-controller="Ajax" asp-action="ajaxIndex">Ajax</a></li>
            <li class="nav-item"><a class="nav-link text-dark"  asp-controller="PeopleDB" asp-action="Index">PeopleDB</a></li>
            <li class="nav-item"><a class="nav-link text-dark"  asp-controller="CountryDB" asp-action="Index">CountryDB</a></li>
            <li class="nav-item"><a class="nav-link text-dark"  asp-controller="CityDb" asp-action="Index">CityDB</a></li>
            <li class="nav-item"><a class="nav-link text-dark"  asp-controller="CountryLanguageDb" asp-action="AddLanguageToCountry">Add Language to Country</a></li>
        </ul>
        </div>
    </nav>
    </header>
    <main class="container-fluid">
        @RenderBody()
    </main>
    <footer class="container-fluid">
        <span>Copyright &copy; Niklas Bergh @DateTime.Now</span>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    </div>
</body>
</html>
